body {
  .article-container {
    @include center;
    margin: 0;
    padding-top: 5em;
    border-radius: 5px;
    .article-share {
      position: fixed;
      left: 0;
      @include column;
      width: 10%;
      padding-top: 2.5em;
      .share-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .share-icon {
          width: 30px;
          height: 30px;
          &:not(:first-child) {
            margin-top: 1em;
          }
        }
      }
    }

    .article {
      margin-left: 10%;
      @include column;
      width: 70%;
      @include border-left-right;
      @include border-bottom-line;
      padding: 2.5em 3em 0.5em 3em;
      order: 2;
      border-radius: 5px;
      .article-author {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
        .author-profile {
          justify-content: flex-start;
        }

        .author-follow {
          justify-content: flex-end;
          @include btn {
            width: 7em;
            height: 2em;
          }

          @include action-btn__mobile {
            background-color: transparent;
          }
        }
      }
      .article-title {
        align-content: center;
        text-align: center;
        font-size: $font-size-large;
        margin-bottom: 1em;
        font-weight: bold;
      }

      .tags {
        .tag {
          margin-left: 1.2em;
        }
        margin-bottom: 1em;
        margin-top: 1em;
        @include display-tags;
        margin-left: inherit;
        margin-right: 16px;
      }
    }
    @media (max-width: #{$max-size-mobile - 1}px) {
      .article {
        width: 90%;
        padding: 1.5em 2.5em 0.5em 1em;
        border-right: none;
        border-left: none;
      }
      .article-text {
        p {
          margin-top: 20px;
        }
      }
    }

    .article-others {
      @include column;
      width: 25%;
      order: 3;
      padding-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
      .article-other {
        margin-bottom: 2em;
        @include card {
          display: flex;
          flex: auto;
          line-height: inherit;
        }
        @include border-left-right;
        @include border-bottom-line;
      }
    }

    @media (max-width: #{$max-size-mobile - 1}px) {
      .article-others,
      .right {
        display: none;
      }
    }
    .article-text {
      overflow: scroll;
      p {
        margin-top: 20px;
        a {
          color: #3498db;
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: #{$max-size-mobile - 1}px) {
    .article-container {
      margin-left: 0em;
      margin-right: 0em;
      .article {
        .article-text {
          height: 100vh;
          overflow: scroll;
          p {
            margin-top: 20px;
          }
        }
        .article-title {
          text-align: left;
          font-size: $font-size-medium;
          margin-bottom: 0.7em;
          font-weight: bold;
        }

        .article-comments--more {
          content: "Check if applied";
        }
      }
      .article-share {
        margin-left: 1em;
        width: 10%;
        height: 100vh;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.delete_article {
  width: 20%;
  height: 20px;
  min-width: 60px;
  max-width: 100px;
}
